
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" >
          <ng-container *ngIf="authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/listar" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a   class="nav-link" routerLink="/agregarpersonal" routerLinkActive="active" >Agregar personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;"(click)="authService.logout()">Logout</a>
          </li>


          
        </ng-container>
        <ng-template #loggedIn>
 
        </ng-template>
        </ul>
      </div>
    </div>
  
</nav>


<div class="container">
    <p>AGREGAR USUARIO</p>
    <div class="row">
        <div class="col-sm-6">
            <form  [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
                <div class="mb-3 form-group">
                    <label class="form-label">Nombre de Usuario</label>
                    <input formControlName="username" [(ngModel)]="usuario.username" type="text" class="form-control " name="username" placeholder="Username" required autofocus>
                    <div class="text-danger" *ngIf="usuarioForm.get('username')?.hasError('required') && usuarioForm.get('username')?.touched"><span>El nombre del usuario es <strong>obligatorio</strong></span></div>  
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label">Correo de Usuario</label>
                    <input  formControlName="email" [(ngModel)]="usuario.email" type="email" class="form-control" name="correo" placeholder="Correo" email="true" required autofocus>
                    <div class="text-danger" *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched"><span>El email del usuario es <strong>obligatorio</strong></span></div>  
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label">Password</label>
                    <input  formControlName="password" [(ngModel)]="usuario.password" type="password" class="form-control" name="password" placeholder="Password" required autofocus>
                    <div class="text-danger" *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched"><span>El password del usuario es <strong>obligatorio</strong></span></div>  
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label">Rol Id Usuario</label>
                    <input formControlName="role_id" [(ngModel)]="usuario.role_id" type="text" class="form-control" name="role_id" placeholder="Role" required autofocus>
                    <div class="text-danger" *ngIf="usuarioForm.get('role_id')?.hasError('required') && usuarioForm.get('role_id')?.touched"><span>El rol del usuario es <strong>obligatorio</strong></span></div>  
                </div>
                <button   type="submit"   (click)="agregarUsuario()" class="btn btn-primary" [disabled]="usuarioForm.invalid">Agregar</button>
                <button   style="margin-left: 8px;" type="submit"   routerLink="/listar" class="btn btn-danger" >Cancelar</button>
            </form>
        </div>
    </div>
</div>


