
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" >
          <ng-container *ngIf="authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/listar" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a   class="nav-link" routerLink="/agregarpersonal" routerLinkActive="active" >Agregar personal</a>
          </li>
          <li class="nav-item">
            <a   class="nav-link" routerLink="/agregarusuario"  routerLinkActive="active">Agregar usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;"(click)="authService.logout()">Logout</a>
          </li>


          
        </ng-container>
        <ng-template #loggedIn>
 
        </ng-template>
        </ul>
      </div>
    </div>
  
</nav>

<div class="container">
    <p>EDITAR PERSONAL</p>
    <div class="row">
        <div class="col-sm-6">
            <form  (ngSubmit)="modificarPersonal()">
                <div class="mb-3">
                    <label class="form-label">Nombre de Personal</label>
                    <input  [(ngModel)]="personal.nombre" type="text" class="form-control " name="nombre" placeholder="Nombre" required>
                    
                    
                </div>
                <div class="mb-3">
                    <label class="form-label">Cargo de Personal</label>
                    <input  [(ngModel)]="personal.cargo" type="text" class="form-control" name="cargo" placeholder="Cargo" required>
                   
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo de Personal</label>
                    <input  [(ngModel)]="personal.correo" type="email" class="form-control" name="correo" placeholder="Correo" email="true" required>
                   
                </div>
                <button   type="submit"   (click)="modificarPersonal()" class="btn btn-primary" >Editar</button>
            </form>
        </div>
       


    </div>
</div>

