<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" >
          <ng-container *ngIf="authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/listar" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a   class="nav-link" routerLink="/agregarusuario"  routerLinkActive="active">Agregar usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;"(click)="authService.logout()">Logout</a>
          </li>


          
        </ng-container>
        <ng-template #loggedIn>
 
        </ng-template>
        </ul>
      </div>
    </div>
  
</nav>




<div class="container">
    <p>AGREGAR PERSONAL</p>
    <div class="row">
        <div class="col-sm-6">
            <form  [formGroup]="personalForm"  (ngSubmit)="agregarPersonal()">
                <div class="mb-3 form-group">
                    <label class="form-label">Nombre de Personal</label>
                    <input formControlName="nombre" [(ngModel)]="personal.nombre" type="text" class="form-control " name="nombre" placeholder="Nombre" required autofocus>
                    <div class="text-danger" *ngIf="personalForm.get('nombre')?.hasError('required') && personalForm.get('nombre')?.touched"><span>El nombre del personal es <strong>obligatorio</strong></span></div>
                    
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label">Cargo de Personal</label>
                    <input formControlName="cargo" [(ngModel)]="personal.cargo" type="text" class="form-control" name="cargo" placeholder="Cargo" required autofocus>
                    <div class="text-danger" *ngIf="personalForm.get('cargo')?.hasError('required') && personalForm.get('cargo')?.touched"><span>El cargo del personal es <strong>obligatorio</strong></span></div>
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label">Correo de Personal</label>
                    <input formControlName="correo" [(ngModel)]="personal.correo" type="email" class="form-control" name="correo" placeholder="Correo" email="true" required autofocus>
                    <div class="text-danger" *ngIf="personalForm.get('correo')?.hasError('required') && personalForm.get('correo')?.touched"><span>El correo del personal es <strong>obligatorio</strong></span></div>
                </div>
                <button   type="submit"   (click)="agregarPersonal()" class="btn btn-primary" [disabled]="personalForm.invalid">Agregar</button>
                <button   style="margin-left: 8px;" type="submit"   routerLink="/listar" class="btn btn-danger" >Cancelar</button>
            </form>
        </div>
       


    </div>
</div>

